html {
	background-color: black;
	color: white;
	border-color: white;
	font-family: Roboto;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.clock-container {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	flex-grow: 4;
}

#clock {
	font-size: 5em;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.pressure-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pressure-input {
	background-color: black;
	border: solid 1px gray;
	color: white;
	height: 2em;
	text-align: center;
	border-radius: .5em;
	margin: 5px;
}

.save-container, .symptoms-container{
	display: flex;
	justify-content: center;
	margin: 2em;
	font-size: 120%;
	flex-direction: column;
	align-items: center;
}

#save {
	background-color: green;
	color: white;
	border: solid 1px green;
	border-radius: .5em;
	height: 2em;
	width: 10em;
}

#add-symptom {
	background-color: blue;
	color: white;
	border: solid 1px 	blue;
	border-radius: .5em;
	height: 2em;
	width: 20em;
}

.input-group  {
	margin: .25em;
}

.form-control {
	background-color: black;
	border: solid 1px gray;
	color: white;
	height: 1.5em;
	text-align: center;
	border-radius: .25em;
	margin: .1em;
}

.remove_field {
	background-color: red;
	color: white;
	border: solid 1px red;
	border-radius: .1em;
	margin-left: 1em;
}